body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8ffacb3;
    /* Fond de couleur claire */
    margin: 0;
    overflow-x: hidden;
    /* Empêche le défilement horizontal */
    font-family: "Gill Sans", sans-serif;
}

body::before {
    content: '';
    position: fixed;
    /* Image de fond fixe */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/pictures/bg-2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    /* Place l'image en arrière-plan */
    animation: fadeInBackground 2s ease-in forwards;
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo-title {
    position: absolute;
    top: 5px;
    left: 2%;
    display: flex;
    align-items: center;
    animation: slideDownEffect 2s ease forwards;
    user-select: none;
    /* Désactive la sélection du texte */
}

.logo {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
}

.title {
    font-size: larger;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #00000080;
    margin-left: 20px;
}

.navbar {
    position: fixed;
    /* Navigation fixée en haut */
    top: 20px;
    right: 20px;
    background-color: #f8ffacb3;
    /* Fond semi-transparent */
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
    /* S'assure qu'elle est au-dessus du contenu */
}

.navbar>a {
    font-size: larger;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    margin-left: 30px;
    text-shadow: 2px 2px 4px #00000080;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.navbar>a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.navbar>a:hover::after {
    width: 100%;
}

.main-content,
.secondary-content {
    color: #fff;
    text-shadow: 2px 2px 4px #00000080;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 200px;
    /* Espace pour le logo et la navbar */
    z-index: 1;
    opacity: 0;
    animation: fadeInEffect 2s ease-in forwards;
    background-color: #f8ffacdd;
    /* #ffffffccFond semi-transparent pour la lisibilité */
    padding: 20px;
    margin-top: 50px;
    /* Espace après la navbar */
    margin-left: 30%;
    /* Centrage horizontal */
    margin-right: 30%;
    animation-delay: 1s;
    /* Délai avant l'animation */
    border-radius: 25px;
    flex-grow: 1;
    /* Prend l'espace disponible */
}

.secondary-content {
    animation-delay: 2s;
    /* Délai différent pour le contenu secondaire */
    margin-bottom: 15%;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDownEffect {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Style pour le footer */
.footer {
    background-color: #f8ffacad;
    color: #fff;
    text-shadow: 2px 2px 4px #00000080;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    opacity: 0;
    animation: fadeInFooter 2s ease-in forwards;
}

@keyframes fadeInFooter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer-content p {
    margin: 10px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.footer a:hover {
    text-decoration: underline;
}

.footer i {
    margin-right: 2%;
}

@media screen and (max-width: 1024px) {
    .secondary-content {
        animation-delay: 2s;
        /* Délai différent pour le contenu secondaire */
        margin-bottom: 30%;
    }
}


@media screen and (max-width: 768px) {
    .secondary-content {
        animation-delay: 2s;
        /* Délai différent pour le contenu secondaire */
        margin-bottom: 30%;
    }
}

/* products / range / category */

.back-button {
    position: absolute;
    top: 10%;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.248);
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.462);
}

div>a:hover {
    color: #f0f7d5;
    text-decoration: none;
    transition: all 0.3s ease;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.card {
    border: 3px solid #fff;
    border-radius: 15px;
    animation-name: slideInDown;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 23%; 
    margin: 20px;
    position: relative;
    background-color: rgba(174, 213, 129, 1);
    overflow: hidden; /* Ajouté pour masquer le contenu débordant */
}

.card img {
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de la carte */
    max-height: 100%; /* Assure que l'image ne dépasse pas la hauteur de la carte */
    object-fit: cover; /* Ajuste l'image pour couvrir l'espace disponible */
}


.card a{
    text-decoration: none;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-30%);
        opacity: 0.2;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 16px;
    background-color: rgba(174, 213, 129, 1);
    color: rgb(245, 245, 245);
    height: 20%;
    margin-top: auto;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container img {
    margin: 0;
    padding: 0;
}

.image-container a {
    display: block;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

/* ficheTechnique */

.product-container {
    display: flex;
    border: 1px solid rgba(174, 213, 129, 1);
    border-radius: 5px;
    overflow: hidden;
    margin: 10rem 5rem 5rem 5rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1%;
}

.product-image {
    width: 30%;
    position: relative;
    border: 5px solid rgb(245, 245, 245);
    overflow: hidden;
    background-color: rgba(174, 213, 129, 1);
}

.product-image::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.animated-image {
    animation: 1s ease-out 0s 1 slide-in;
}

.product-details {
    width: 80%;
    padding: 20px;
    background-color: rgba(174, 213, 129, 1);
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 5px solid rgb(245, 245, 245);
}

.product-details h2 {
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.product-details h3 {
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1%;
}

.product-details h4 {
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-self: center;
}

.product-details p {
    font-size: 1.2em;
    font-weight: bold;
}

.add-to-list {
    margin-top: 20px;
    color: rgb(245, 245, 245);
    background-color: transparent;
    border: 2px solid rgb(245, 245, 245);
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.add-to-list:hover {
    background-color: #f0f7d5;
    text-decoration: none;
}

.product-details a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px 20px;
    border: 2px solid rgb(245, 245, 245);
    transition: all 0.3s ease;
    align-self: center;
}

.product-details a:hover {
    background-color: #f0f7d5;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

@keyframes explode {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

.product-details form {
    margin: 0;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-self: center;
}

.button-loading {
    background-color: yellow;
}

.button-success {
    background-color: green;
    animation: explode 1s forwards;
}

.button-error {
    background-color: red;
    animation: explode 1s forwards;
}

/* ma liste */

.maliste {
    margin-top: 2%;
}

.maliste a {
    font-size: larger;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    margin-left: 30px;
    text-shadow: 2px 2px 4px #00000080;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.maliste a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Ajustez cette valeur si nécessaire */
    left: 0;
    width: 0;
    height: 3px; /* Épaisseur du trait */
    background-color: #fff; /* Couleur du trait */
    transition: width 0.5s ease-in-out;
}

.maliste a:hover::after {
    width: 100%;
}

.listeCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(245, 245, 245);
    background-color: rgba(174, 213, 129, 1);
    padding: 5px;
    border-radius: 0 15px 0 15px;
    width: 60%;
    padding: 2rem;
}

.favorisItem {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-bottom: 10px;
}

.favorisItem p {
    color: rgb(245, 245, 245);
    font-weight: bold;
}

.favorisItem button {
    color: rgb(245, 245, 245);
    background-color: transparent;
    border: 1px solid rgb(245, 245, 245);
    padding: 5px;
    cursor: pointer;
}

.icone-liste img.slide-in-down {
    width: 50px;
    height: 50px;
}

.favorisItem button:hover {
    background-color: #f0f7d5;
}

/* Style du conteneur de recherche */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Permet de positionner absolument #output par rapport à ce conteneur */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style de la barre de recherche */
form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-weight: bolder;
}

button[type="submit"] {
    padding: 25px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #c5ff26;
    color: white;
    text-shadow: 2px 2px 4px #00000080;
    cursor: pointer;
    font-weight: bolder;
}

button[type="submit"]:hover {
    background-color: #afff81;
}

/* Style pour l'autocomplète */
#output {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    width: 25%; /* Réduit la largeur à 90% de celle de l'entrée de recherche */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    display: none; /* Continue à masquer par défaut */
}

#output li {
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
}

#output li:hover {
    background-color: #f0f0f0;
}

/* Style responsive pour petits écrans */
@media (max-width: 600px) {
    input[type="text"], button[type="submit"], #output {
        width: 100%;
        border-radius: 0;
    }

    form, #output {
        flex-direction: column;
    }

    #output {
        border-width: 1px 0 0 0;
    }
}